src/main/resources/Schemas/MTCommOperations_0.3.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' elementFormDefault='qualified' attributeFormDefault='unqualified'>
  <xs:element name='MTCommOperations' type='MTCommOperationsType'>
    <xs:annotation>
      <xs:documentation>
        The root node for MTComm
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name='SenderType'>
    <xs:annotation>
      <xs:documentation>
        The sender of the message
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='CreationTimeType'>
    <xs:annotation>
      <xs:documentation>
        The date and time the document was created
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:dateTime'/>
  </xs:simpleType>
  <xs:simpleType name='SequenceType'>
    <xs:annotation>
      <xs:documentation>
        A sequence number
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'>
      <xs:minInclusive value='1'/>
      <xs:maxExclusive value='18446744073709551615'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TestIndicatorType'>
    <xs:annotation>
      <xs:documentation>
        A debugging flag for testing.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:boolean'/>
  </xs:simpleType>
  <xs:simpleType name='InstanceIdType'>
    <xs:annotation>
      <xs:documentation>
        The instance number of the agent, used for fault tolerance
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'>
      <xs:minInclusive value='1'/>
      <xs:maxExclusive value='18446744073709551615'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='BufferSizeType'>
    <xs:annotation>
      <xs:documentation>
        The size of the agents buffer
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'>
      <xs:minInclusive value='1'/>
      <xs:maxExclusive value='4294967295'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TimestampType'>
    <xs:annotation>
      <xs:documentation>
        The time the Action was reported
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:dateTime'/>
  </xs:simpleType>
  <xs:simpleType name='OccurrenceTimeType'>
    <xs:annotation>
      <xs:documentation>
        The time a Action occurred
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:dateTime'/>
  </xs:simpleType>
  <xs:simpleType name='VersionType'>
    <xs:annotation>
      <xs:documentation>
        A version number
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:NMTOKEN'/>
  </xs:simpleType>
  <xs:simpleType name='NameType'>
    <xs:annotation>
      <xs:documentation>
        A short name for any element
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='UuidType'>
    <xs:annotation>
      <xs:documentation>
        A universally unique id that uniquely identifies the element for
        it&apos;s entire life
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='SerialNumberType'>
    <xs:annotation>
      <xs:documentation>
        A serial number for a piece of equipment
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='ItemSourceType'>
    <xs:annotation>
      <xs:documentation>
        The measurement source
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='RateType'>
    <xs:annotation>
      <xs:documentation>
        A Action rate in milliseconds per Action
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:float'/>
  </xs:simpleType>
  <xs:simpleType name='ComponentIdType'>
    <xs:annotation>
      <xs:documentation>
        The id of the component (maps to the id from probe)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:ID'/>
  </xs:simpleType>
  <xs:simpleType name='IDType'>
    <xs:annotation>
      <xs:documentation>
        An identifier
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:ID'/>
  </xs:simpleType>
  <xs:simpleType name='SignificantDigitsValueType'>
    <xs:annotation>
      <xs:documentation>
        The number significant digits
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'/>
  </xs:simpleType>
  <xs:simpleType name='AssetIdType'>
    <xs:annotation>
      <xs:documentation>
        The unique id of the asset
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='AssetAttrType'>
    <xs:annotation>
      <xs:documentation>
        An asset type
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='AssetBufferSizeType'>
    <xs:annotation>
      <xs:documentation>
        The maximum number of assets
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'>
      <xs:minInclusive value='1'/>
      <xs:maxExclusive value='4294967295'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AssetCountAttrType'>
    <xs:annotation>
      <xs:documentation>
        The number of assets
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'>
      <xs:minInclusive value='0'/>
      <xs:maxExclusive value='4294967295'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DescriptionTextType'>
    <xs:annotation>
      <xs:documentation>
        A description
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='OperationExtType'>
    <xs:annotation>
      <xs:documentation>
        An extension point for opeartion types
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[a-ln-z]:[A-Z_0-9]+'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='OperationStatsExtType'>
    <xs:annotation>
      <xs:documentation>
        An extension point for opeartion statistics types
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[a-ln-z]:[A-Z_0-9]+'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='OperationEnumTypeEnum'>
    <xs:annotation>
      <xs:documentation>
        The types of measurements available
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ACCELERATION'/>
      <xs:enumeration value='ACTIVE_AXES'/>
      <xs:enumeration value='ALARM'/>
      <xs:enumeration value='AMPERAGE'/>
      <xs:enumeration value='ANGLE'/>
      <xs:enumeration value='ANGULAR_ACCELERATION'/>
      <xs:enumeration value='ANGULAR_VELOCITY'/>
      <xs:enumeration value='AVAILABILITY'/>
      <xs:enumeration value='AXIS_FEEDRATE'/>
      <xs:enumeration value='BLOCK'/>
      <xs:enumeration value='CODE'/>
      <xs:enumeration value='DIRECTION'/>
      <xs:enumeration value='DOOR_STATE'/>
      <xs:enumeration value='EMERGENCY_STOP'/>
      <xs:enumeration value='EXECUTION'/>
      <xs:enumeration value='FREQUENCY'/>
      <xs:enumeration value='PART_COUNT'/>
      <xs:enumeration value='PART_ID'/>
      <xs:enumeration value='PATH_FEEDRATE'/>
      <xs:enumeration value='PATH_POSITION'/>
      <xs:enumeration value='PATH_MODE'/>
      <xs:enumeration value='LINE'/>
      <xs:enumeration value='CONTROLLER_MODE'/>
      <xs:enumeration value='LOAD'/>
      <xs:enumeration value='MESSAGE'/>
      <xs:enumeration value='POSITION'/>
      <xs:enumeration value='POWER_STATUS'/>
      <xs:enumeration value='POWER_STATE'/>
      <xs:enumeration value='PRESSURE'/>
      <xs:enumeration value='RESET'/>
      <xs:enumeration value='PROGRAM'/>
      <xs:enumeration value='ROTARY_MODE'/>
      <xs:enumeration value='COUPLED_AXES'/>
      <xs:enumeration value='AXIS_COUPLING'/>
      <xs:enumeration value='SPINDLE_SPEED'/>
      <xs:enumeration value='TEMPERATURE'/>
      <xs:enumeration value='TORQUE'/>
      <xs:enumeration value='TOOL_ASSET_ID'/>
      <xs:enumeration value='TOOL_ID'/>
      <xs:enumeration value='TOOL_NUMBER'/>
      <xs:enumeration value='VELOCITY'/>
      <xs:enumeration value='VIBRATION'/>
      <xs:enumeration value='VOLTAGE'/>
      <xs:enumeration value='WATTAGE'/>
      <xs:enumeration value='WORKHOLDING_ID'/>
      <xs:enumeration value='ACCUMULATED_TIME'/>
      <xs:enumeration value='ACTUATOR_STATE'/>
      <xs:enumeration value='ASSET_CHANGED'/>
      <xs:enumeration value='CONCENTRATION'/>
      <xs:enumeration value='CONDUCTIVITY'/>
      <xs:enumeration value='DISPLACEMENT'/>
      <xs:enumeration value='ELECTRICAL_POWER'/>
      <xs:enumeration value='FILL_LEVEL'/>
      <xs:enumeration value='FLOW'/>
      <xs:enumeration value='LINEAR_FORCE'/>
      <xs:enumeration value='MASS'/>
      <xs:enumeration value='PH'/>
      <xs:enumeration value='POWER_FACTOR'/>
      <xs:enumeration value='RESISTANCE'/>
      <xs:enumeration value='ROTARY_VELOCITY'/>
      <xs:enumeration value='SOUND_PRESSURE'/>
      <xs:enumeration value='STRAIN'/>
      <xs:enumeration value='TILT'/>
      <xs:enumeration value='VOLT_AMPERE'/>
      <xs:enumeration value='VOLT_AMPERE_REACTIVE'/>
      <xs:enumeration value='WATT_SECOND'/>
      <xs:enumeration value='VISCOSITY'/>
      <xs:enumeration value='COMMUNICATIONS'/>
      <xs:enumeration value='LOGIC_PROGRAM'/>
      <xs:enumeration value='MOTION_PROGRAM'/>
      <xs:enumeration value='HARDWARE'/>
      <xs:enumeration value='SYSTEM'/>
      <xs:enumeration value='LEVEL'/>
      <xs:enumeration value='ACTUATOR'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='OperationEnumType'>
    <xs:annotation>
      <xs:documentation>
        The types of measurements available
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes='OperationEnumTypeEnum OperationExtType'/>
  </xs:simpleType>
  <xs:simpleType name='OperationSubEnumTypeEnum'>
    <xs:annotation>
      <xs:documentation>
        The sub-types for a measurement
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ACTUAL'/>
      <xs:enumeration value='COMMANDED'/>
      <xs:enumeration value='MAXIMUM'/>
      <xs:enumeration value='MINIMUM'/>
      <xs:enumeration value='OTHER'/>
      <xs:enumeration value='OVERRIDE'/>
      <xs:enumeration value='PROBE'/>
      <xs:enumeration value='TARGET'/>
      <xs:enumeration value='GOOD'/>
      <xs:enumeration value='BAD'/>
      <xs:enumeration value='ALL'/>
      <xs:enumeration value='LINE'/>
      <xs:enumeration value='CONTROL'/>
      <xs:enumeration value='ALTERNATING'/>
      <xs:enumeration value='DIRECT'/>
      <xs:enumeration value='WEIGHT'/>
      <xs:enumeration value='VOLUME'/>
      <xs:enumeration value='MOLE'/>
      <xs:enumeration value='KINETIC'/>
      <xs:enumeration value='DYNAMIC'/>
      <xs:enumeration value='NO_SCALE'/>
      <xs:enumeration value='A_SCALE'/>
      <xs:enumeration value='B_SCALE'/>
      <xs:enumeration value='C_SCALE'/>
      <xs:enumeration value='D_SCALE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='OperationSubEnumType'>
    <xs:annotation>
      <xs:documentation>
        The sub-types for a measurement
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes='OperationSubEnumTypeEnum OperationExtType'/>
  </xs:simpleType>
  <xs:simpleType name='OperationStatisticsTypeEnum'>
    <xs:annotation>
      <xs:documentation>
        Statistical operations on opeartion
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='MINIMUM'/>
      <xs:enumeration value='MAXIMUM'/>
      <xs:enumeration value='AVERAGE'/>
      <xs:enumeration value='STANDARD_DEVIATION'/>
      <xs:enumeration value='ROOT_MEAN_SQUARE'/>
      <xs:enumeration value='MEAN'/>
      <xs:enumeration value='MODE'/>
      <xs:enumeration value='RANGE'/>
      <xs:enumeration value='KURTOSIS'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='OperationStatisticsType'>
    <xs:annotation>
      <xs:documentation>
        Statistical operations on operation
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes='OperationStatisticsTypeEnum OperationStatsExtType'/>
  </xs:simpleType>
  <xs:simpleType name='UnitsExtType'>
    <xs:annotation>
      <xs:documentation>
        An extension point for opeartion types
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='x:[A-Z_0-9]+'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='UnitsTypeEnum'>
    <xs:annotation>
      <xs:documentation>
        The units supported
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='AMPERE'/>
      <xs:enumeration value='CELSIUS'/>
      <xs:enumeration value='COUNT'/>
      <xs:enumeration value='DEGREE'/>
      <xs:enumeration value='DEGREE/SECOND'/>
      <xs:enumeration value='DEGREE/SECOND^2'/>
      <xs:enumeration value='HERTZ'/>
      <xs:enumeration value='JOULE'/>
      <xs:enumeration value='KILOGRAM'/>
      <xs:enumeration value='LITER'/>
      <xs:enumeration value='LITER/SECOND'/>
      <xs:enumeration value='MILLIMETER'/>
      <xs:enumeration value='MILLIMETER/SECOND'/>
      <xs:enumeration value='MILLIMETER/SECOND^2'/>
      <xs:enumeration value='MILLIMETER_3D'/>
      <xs:enumeration value='NEWTON'/>
      <xs:enumeration value='NEWTON_METER'/>
      <xs:enumeration value='PASCAL'/>
      <xs:enumeration value='PERCENT'/>
      <xs:enumeration value='PH'/>
      <xs:enumeration value='REVOLUTION/MINUTE'/>
      <xs:enumeration value='SECOND'/>
      <xs:enumeration value='VOLT'/>
      <xs:enumeration value='WATT'/>
      <xs:enumeration value='OHM'/>
      <xs:enumeration value='SOUND_LEVEL'/>
      <xs:enumeration value='SIEMENS/METER'/>
      <xs:enumeration value='MICRO_RADIAN'/>
      <xs:enumeration value='PASCAL_SECOND'/>
      <xs:enumeration value='VOLT_AMPERE'/>
      <xs:enumeration value='VOLT_AMPERE_REACTIVE'/>
      <xs:enumeration value='WATT_SECOND'/>
      <xs:enumeration value='DECIBEL'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='UnitsType'>
    <xs:annotation>
      <xs:documentation>
        The units supported
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes='UnitsTypeEnum UnitsExtType'/>
  </xs:simpleType>
  <xs:simpleType name='NativeUnitsTypeEnum'>
    <xs:annotation>
      <xs:documentation>
        The units supported for the source equipment that can be converted into
        MTC Units.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='AMPERE'/>
      <xs:enumeration value='CELSIUS'/>
      <xs:enumeration value='COUNT'/>
      <xs:enumeration value='DEGREE'/>
      <xs:enumeration value='DEGREE/SECOND'/>
      <xs:enumeration value='DEGREE/SECOND^2'/>
      <xs:enumeration value='HERTZ'/>
      <xs:enumeration value='JOULE'/>
      <xs:enumeration value='KILOGRAM'/>
      <xs:enumeration value='LITER'/>
      <xs:enumeration value='LITER/SECOND'/>
      <xs:enumeration value='MILLIMETER'/>
      <xs:enumeration value='MILLIMETER/SECOND'/>
      <xs:enumeration value='MILLIMETER/SECOND^2'/>
      <xs:enumeration value='MILLIMETER_3D'/>
      <xs:enumeration value='NEWTON'/>
      <xs:enumeration value='NEWTON_METER'/>
      <xs:enumeration value='PASCAL'/>
      <xs:enumeration value='PERCENT'/>
      <xs:enumeration value='PH'/>
      <xs:enumeration value='REVOLUTION/MINUTE'/>
      <xs:enumeration value='SECOND'/>
      <xs:enumeration value='VOLT'/>
      <xs:enumeration value='WATT'/>
      <xs:enumeration value='OHM'/>
      <xs:enumeration value='SOUND_LEVEL'/>
      <xs:enumeration value='SIEMENS/METER'/>
      <xs:enumeration value='MICRO_RADIAN'/>
      <xs:enumeration value='PASCAL_SECOND'/>
      <xs:enumeration value='VOLT_AMPERE'/>
      <xs:enumeration value='VOLT_AMPERE_REACTIVE'/>
      <xs:enumeration value='WATT_SECOND'/>
      <xs:enumeration value='DECIBEL'/>
      <xs:enumeration value='CENTIPOISE'/>
      <xs:enumeration value='DEGREE/MINUTE'/>
      <xs:enumeration value='FAHRENHEIT'/>
      <xs:enumeration value='FOOT'/>
      <xs:enumeration value='FOOT/MINUTE'/>
      <xs:enumeration value='FOOT/SECOND'/>
      <xs:enumeration value='FOOT/SECOND^2'/>
      <xs:enumeration value='FOOT_3D'/>
      <xs:enumeration value='GALLON/MINUTE'/>
      <xs:enumeration value='INCH'/>
      <xs:enumeration value='INCH/MINUTE'/>
      <xs:enumeration value='INCH/SECOND'/>
      <xs:enumeration value='INCH/SECOND^2'/>
      <xs:enumeration value='INCH_3D'/>
      <xs:enumeration value='KILOWATT'/>
      <xs:enumeration value='KILOWATT_HOUR'/>
      <xs:enumeration value='MILLIMETER/MINUTE'/>
      <xs:enumeration value='OTHER'/>
      <xs:enumeration value='POUND'/>
      <xs:enumeration value='POUND/INCH^2'/>
      <xs:enumeration value='RADIAN'/>
      <xs:enumeration value='RADIAN/MINUTE'/>
      <xs:enumeration value='RADIAN/SECOND'/>
      <xs:enumeration value='RADIAN/SECOND^2'/>
      <xs:enumeration value='REVOLUTION/SECOND'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='NativeUnitsType'>
    <xs:annotation>
      <xs:documentation>
        The units supported for the source equipment that can be converted into
        MTC Units.
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes='NativeUnitsTypeEnum UnitsExtType'/>
  </xs:simpleType>
  <xs:simpleType name='CoordinateSystemType'>
    <xs:annotation>
      <xs:documentation>
        The coordinate system to be used for the position
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='MACHINE'/>
      <xs:enumeration value='WORK'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='StationType'>
    <xs:annotation>
      <xs:documentation>
        The station id for this device
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:complexType name='HeaderType'>
    <xs:annotation>
      <xs:documentation>
        Message header for protocol information
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='xs:string'>
        <xs:attribute name='version' type='VersionType' use='required'/>
        <xs:attribute name='creationTime' type='CreationTimeType' use='required'/>
        <xs:attribute name='nextSequence' type='SequenceType' use='required'/>
        <xs:attribute name='lastSequence' type='SequenceType' use='required'/>
        <xs:attribute name='firstSequence' type='SequenceType' use='required'/>
        <xs:attribute name='testIndicator' type='TestIndicatorType' use='optional'/>
        <xs:attribute name='instanceId' type='InstanceIdType' use='required'/>
        <xs:attribute name='sender' type='SenderType' use='required'/>
        <xs:attribute name='bufferSize' type='BufferSizeType' use='required'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name='MTCommOperationsType'>
    <xs:annotation>
      <xs:documentation>
        The root node for MTComm
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='Header' type='HeaderType'>
        <xs:annotation>
          <xs:documentation>
            Protocol dependent information
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Operations' type='OperationsType'>
        <xs:annotation>
          <xs:documentation>
            Operations  for each piece of equipment
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name='ResultValueType'>
    <xs:annotation>
      <xs:documentation>
        An Jobs data
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='OperationIdType'>
    <xs:annotation>
      <xs:documentation>
        The item&apos;s unique ID that references the opeartion id from probe
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:NMTOKEN'/>
  </xs:simpleType>
  <xs:simpleType name='NativeCodeType'>
    <xs:annotation>
      <xs:documentation>
        An Condition code as defined by the component
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:complexType name='OperationsType'>
    <xs:annotation>
      <xs:documentation>
        Job container for all component Jobs
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='DeviceOperation' type='DeviceOperationType' minOccurs='0' maxOccurs='unbounded'>
        <xs:annotation>
          <xs:documentation>
            The Operation of a device
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='ComponentOperation' type='ComponentOperationType' minOccurs='0' maxOccurs='unbounded'>
        <xs:annotation>
          <xs:documentation>
            The Operation of each component
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='DeviceOperationType'>
    <xs:annotation>
      <xs:documentation>
        Operation related to a single device
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='Actions' type='ActionsType' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            A collection of Actions
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Jobs' type='JobsType' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            A collection of Jobs
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name='name' type='NameType' use='required'/>
    <xs:attribute name='uuid' type='UuidType' use='required'/>
  </xs:complexType>
  <xs:complexType name='ComponentOperationType'>
    <xs:annotation>
      <xs:documentation>
        The Operation of a component
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='Actions' type='ActionsType' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            A collection of Actions
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Jobs' type='JobsType' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            A collection of Jobs
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name='componentId' type='ComponentIdType' use='required'/>
    <xs:attribute name='name' type='NameType' use='required'/>
    <xs:attribute name='nativeName' type='NameType' use='optional'/>
    <xs:attribute name='componentName' type='NameType' use='required'/>
    <xs:attribute name='uuid' type='UuidType' use='optional'/>
  </xs:complexType>
  <xs:complexType name='ActionsType'>
    <xs:annotation>
      <xs:documentation>
        A collection of Actions for this component
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref='Action' minOccurs='1' maxOccurs='unbounded'/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='JobsType'>
    <xs:annotation>
      <xs:documentation>
        A collection of Jobs for this component
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref='Job' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            A job element
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element abstract='true' name='Job' type='JobType'>
    <xs:annotation>
      <xs:documentation>
        An abstract indicator of the device&apos;s condition
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='JobType' abstract='true'>
    <xs:annotation>
      <xs:documentation>
        A job element
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='Parameters' type='ParametersType' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            The list of parameters for the job
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Acknowledgement' type='AcknowledgementType' minOccurs='0' maxOccurs='1'>
        <xs:annotation>
          <xs:documentation>
            The list of parameters for the job
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name='sequence' type='SequenceType' use='required'/>
    <xs:attribute name='subType' type='OperationSubEnumType' use='optional'/>
    <xs:attribute name='timestamp' type='TimestampType' use='required'/>
    <xs:attribute name='name' type='NameType' use='optional'/>
    <xs:attribute name='operationId' type='OperationIdType' use='required'/>
  </xs:complexType>
  <xs:complexType name='ParametersType'>
    <xs:annotation>
      <xs:documentation>
        The list of parameters for the job
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref='Parameter' minOccurs='1' maxOccurs='unbounded'>
        <xs:annotation>
          <xs:documentation>
            A job parameter
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='ResultType' abstract='true'>
    <xs:annotation>
      <xs:documentation>
        An abstract Job
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='ResultValueType'>
        <xs:attribute name='sequence' type='SequenceType' use='required'/>
        <xs:attribute name='subType' type='OperationSubEnumType' use='optional'/>
        <xs:attribute name='timestamp' type='TimestampType' use='required'/>
        <xs:attribute name='name' type='NameType' use='optional'/>
        <xs:attribute name='operationId' type='OperationIdType' use='required'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element abstract='true' name='Result' type='ResultType'>
    <xs:annotation>
      <xs:documentation>
        An abstract Job
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ParameterType' abstract='true'>
    <xs:annotation>
      <xs:documentation>
        An abstract Job
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='ResultValueType'>
        <xs:attribute name='sequence' type='SequenceType' use='optional'/>
        <xs:attribute name='subType' type='OperationSubEnumType' use='optional'/>
        <xs:attribute name='timestamp' type='TimestampType' use='required'/>
        <xs:attribute name='name' type='NameType' use='optional'/>
        <xs:attribute name='id' type='IDType' use='required'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element abstract='true' name='Parameter' type='ParameterType'>
    <xs:annotation>
      <xs:documentation>
        An abstract Job parameter
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name='AcknowledgementType'>
    <xs:annotation>
      <xs:documentation>
        An acknowledgement for the requested operation
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:element abstract='true' name='Acknowledgement' type='AcknowledgementType'>
    <xs:annotation>
      <xs:documentation>
        An Acknowledgement element
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name='ActionValueType'>
    <xs:annotation>
      <xs:documentation>
        A floating point value or array of floating point values
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='PositionValueType'>
    <xs:annotation>
      <xs:documentation>
        The value for the position
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='EnergyValueType'>
    <xs:annotation>
      <xs:documentation>
        The value of energy
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DecibelValueType'>
    <xs:annotation>
      <xs:documentation>
        The sound pressure
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DisplacementValueType'>
    <xs:annotation>
      <xs:documentation>
        The value for the displacement
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='FrequencyValueType'>
    <xs:annotation>
      <xs:documentation>
        The value for the frequency
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AmperageValueType'>
    <xs:annotation>
      <xs:documentation>
        The amperage
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='VoltageValueType'>
    <xs:annotation>
      <xs:documentation>
        The voltage
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='WattValueType'>
    <xs:annotation>
      <xs:documentation>
        The watts
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='PressureValueType'>
    <xs:annotation>
      <xs:documentation>
        The pressure
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AccelerationValueType'>
    <xs:annotation>
      <xs:documentation>
        The value for the acceleration
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AngleValueType'>
    <xs:annotation>
      <xs:documentation>
        The angle
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TemperatureValueType'>
    <xs:annotation>
      <xs:documentation>
        The temperature
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='VelocityValueType'>
    <xs:annotation>
      <xs:documentation>
        The temperature
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='FeedrateValueType'>
    <xs:annotation>
      <xs:documentation>
        The feedrate
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='VibrationValueType'>
    <xs:annotation>
      <xs:documentation>
        The vibration
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='RotationalVelocityValueType'>
    <xs:annotation>
      <xs:documentation>
        The spindle speed
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='LoadValueType'>
    <xs:annotation>
      <xs:documentation>
        A component load
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TorqueValueType'>
    <xs:annotation>
      <xs:documentation>
        A component&apos;s torque
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ThreeDimensionalValueType'>
    <xs:annotation>
      <xs:documentation>
        A three dimensional value &apos;X Y Z&apos; or &apos;A B C&apos;
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)? [+-]?\d+(\.\d+)?([Ee][+-]?\d+)? [+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TiltValueType'>
    <xs:annotation>
      <xs:documentation>
        The value for the position
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='PowerFactorValueType'>
    <xs:annotation>
      <xs:documentation>
        Power factor
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='StrainValueType'>
    <xs:annotation>
      <xs:documentation>
        Strain
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='FlowValueType'>
    <xs:annotation>
      <xs:documentation>
        Flow
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='SoundPressureValueType'>
    <xs:annotation>
      <xs:documentation>
        Sound pressure level
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ResistanceValueType'>
    <xs:annotation>
      <xs:documentation>
        Electrical resistance
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ConductivityValueType'>
    <xs:annotation>
      <xs:documentation>
        Conductivity
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ViscosityValueType'>
    <xs:annotation>
      <xs:documentation>
        Viscosity
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ConcentrationValueType'>
    <xs:annotation>
      <xs:documentation>
        Concentration
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='TimeSeriesValueType'>
    <xs:annotation>
      <xs:documentation>
        A time series
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='([+-]?\d+(\.\d+)?([Ee][+-]?\d+)?( )*)+|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DurationValueType'>
    <xs:annotation>
      <xs:documentation>
        The duration of an Job in seconds
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='CountValueType'>
    <xs:annotation>
      <xs:documentation>
        The number of values
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ForceValueType'>
    <xs:annotation>
      <xs:documentation>
        The magnitude of push or pull
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='MassValueType'>
    <xs:annotation>
      <xs:documentation>
        The weight of an object
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='FillLevelValueType'>
    <xs:annotation>
      <xs:documentation>
        The fill level of a tank
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ActionRateType'>
    <xs:annotation>
      <xs:documentation>
        The sampling rate in Actions per second
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DurationTimeType'>
    <xs:annotation>
      <xs:documentation>
        A length of time in seconds
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:float'/>
  </xs:simpleType>
  <!-- Changes here: type: edit -->
  <xs:complexType name='ActionType' abstract='true'>
    <xs:annotation>
      <xs:documentation>
        An abstract Action
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ResultType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element abstract='true' name='Action' type='ActionType' substitutionGroup='Result'>
    <xs:annotation>
      <xs:documentation>
        An abstract Action
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <!-- Directly from MTConnect. May need future modification -->
  <xs:complexType name='GlobalPositionType'>
    <xs:annotation>
      <xs:documentation>
        DEPRECATED: The three space position of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)? [+-]?\d+(\.\d+)?([Ee][+-]?\d+)? [+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='GlobalPosition' type='GlobalPositionType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        DEPRECATED: The three space position of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PositionType'>
    <xs:annotation>
      <xs:documentation>
        The position of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Position' type='PositionType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The position of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='VelocityType'>
    <xs:annotation>
      <xs:documentation>
        The velocity of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Velocity' type='VelocityType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The velocity of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AccelerationType'>
    <xs:annotation>
      <xs:documentation>
        The acceleration of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Acceleration' type='AccelerationType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The acceleration of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AngularAccelerationType'>
    <xs:annotation>
      <xs:documentation>
        The angular acceleration of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='AngularAcceleration' type='AngularAccelerationType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The angular acceleration of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AngularVelocityType'>
    <xs:annotation>
      <xs:documentation>
        The angular velocity of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='AngularVelocity' type='AngularVelocityType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The angular velocity of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PathFeedrateType'>
    <xs:annotation>
      <xs:documentation>
        The feedrate of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='PathFeedrate' type='PathFeedrateType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The feedrate of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AxisFeedrateType'>
    <xs:annotation>
      <xs:documentation>
        The feedrate of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='AxisFeedrate' type='AxisFeedrateType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The feedrate of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='SpindleSpeedType'>
    <xs:annotation>
      <xs:documentation>
        The spindle speed of the component: DEPRECATED
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='SpindleSpeed' type='SpindleSpeedType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The spindle speed of the component: DEPRECATED
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='RotaryVelocityType'>
    <xs:annotation>
      <xs:documentation>
        The rotational velocity of the component in RPM
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='RotaryVelocity' type='RotaryVelocityType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The rotational velocity of the component in RPM
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AngleType'>
    <xs:annotation>
      <xs:documentation>
        The angle of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Angle' type='AngleType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The angle of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='TemperatureType'>
    <xs:annotation>
      <xs:documentation>
        The temperature
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Temperature' type='TemperatureType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The temperature
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ExecutionType'>
    <xs:annotation>
      <xs:documentation>
        The temperature
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:enumeration value='STOP'/>
        <xs:enumeration value='PAUSE'/>
        <xs:enumeration value='RESUME'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Execution' type='ExecutionType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The executional commands
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='LoadType'>
    <xs:annotation>
      <xs:documentation>
        The program code
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Load' type='LoadType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The program code
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='FrequencyType'>
    <xs:annotation>
      <xs:documentation>
        The frequency in hertz
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Frequency' type='FrequencyType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The frequency in hertz
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='VoltsType'>
    <xs:annotation>
      <xs:documentation>
        DEPRECATED: The voltage
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Volts' type='VoltsType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        DEPRECATED: The voltage
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='VoltageType'>
    <xs:annotation>
      <xs:documentation>
        The voltage
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Voltage' type='VoltageType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The voltage
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='WattType'>
    <xs:annotation>
      <xs:documentation>
        DEPRECATED: The number of Watts
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Watt' type='WattType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        DEPRECATED: The number of Watts
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PressureType'>
    <xs:annotation>
      <xs:documentation>
        The pressure
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Pressure' type='PressureType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The pressure
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='TorqueType'>
    <xs:annotation>
      <xs:documentation>
        The torque
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Torque' type='TorqueType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The torque
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PathPositionType'>
    <xs:annotation>
      <xs:documentation>
        The 3 dimensional position for tool tip in the path (X Y Z)
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)? [+-]?\d+(\.\d+)?([Ee][+-]?\d+)? [+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='PathPosition' type='PathPositionType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The 3 dimensional position for tool tip in the path (X Y Z)
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='WattageType'>
    <xs:annotation>
      <xs:documentation>
        The number of Watts
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Wattage' type='WattageType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The number of Watts
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='DisplacementType'>
    <xs:annotation>
      <xs:documentation>
        The linear displacement in millimeters
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Displacement' type='DisplacementType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The linear displacement in millimeters
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='TiltType'>
    <xs:annotation>
      <xs:documentation>
        The tilt
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Tilt' type='TiltType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The tilt
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AccumulatedTimeType'>
    <xs:annotation>
      <xs:documentation>
        The non-contiguous duration of an Job in seconds
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='AccumulatedTime' type='AccumulatedTimeType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The non-contiguous duration of an Job in seconds
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PowerFactorType'>
    <xs:annotation>
      <xs:documentation>
        The power factor
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='PowerFactor' type='PowerFactorType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The power factor
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='StrainType'>
    <xs:annotation>
      <xs:documentation>
        The strain
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Strain' type='StrainType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The strain
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='FlowType'>
    <xs:annotation>
      <xs:documentation>
        The flow
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Flow' type='FlowType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The flow
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='SoundPressureType'>
    <xs:annotation>
      <xs:documentation>
        The sound pressure
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='SoundPressure' type='SoundPressureType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The sound pressure
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ResistanceType'>
    <xs:annotation>
      <xs:documentation>
        The Resistance
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Resistance' type='ResistanceType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The Resistance
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ConductivityType'>
    <xs:annotation>
      <xs:documentation>
        The Conductivity
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Conductivity' type='ConductivityType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The Conductivity
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ViscosityType'>
    <xs:annotation>
      <xs:documentation>
        The Viscosity
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Viscosity' type='ViscosityType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The Viscosity
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ConcentrationType'>
    <xs:annotation>
      <xs:documentation>
        The Concentration
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Concentration' type='ConcentrationType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The Concentration
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ElectricalEnergyType'>
    <xs:annotation>
      <xs:documentation>
        Electrical energy
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='ElectricalEnergy' type='ElectricalEnergyType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        Electrical energy
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='FillLevelType'>
    <xs:annotation>
      <xs:documentation>
        The fill level of a tank
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='FillLevel' type='FillLevelType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The fill level of a tank
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='LinearForceType'>
    <xs:annotation>
      <xs:documentation>
        The magnitude of a push or pull introduced by an actuator or exerted on
        an object
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ActionType'>
        <xs:pattern value='[+-]?\d+(\.\d+)?([Ee][+-]?\d+)?|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='LinearForce' type='LinearForceType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The magnitude of a push or pull introduced by an actuator or exerted on
        an object
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='SoundLevelType'>
    <xs:annotation>
      <xs:documentation>
        Measurement of a sound level or sound pressure level relative to
        atmospheric pressure
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='DecibelValueType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name='AbsTimeSeriesType' abstract='true'>
    <xs:annotation>
      <xs:documentation>
        The abstract waveform
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='ActionType'>
        <xs:attribute name='ActionCount' type='CountValueType' use='required'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element abstract='true' name='AbsTimeSeries' type='AbsTimeSeriesType' substitutionGroup='Action'>
    <xs:annotation>
      <xs:documentation>
        The abstract waveform
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='TimeSeriesType' abstract='true'>
    <xs:annotation>
      <xs:documentation>
        An abstract time series with the restriction value
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='AbsTimeSeriesType'>
        <xs:pattern value='([+-]?\d+(\.\d+)?([Ee][+-]?\d+)?( )*)+|UNAVAILABLE'/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element abstract='true' name='TimeSeries' type='TimeSeriesType' substitutionGroup='AbsTimeSeries'>
    <xs:annotation>
      <xs:documentation>
        An abstract time series with the restriction value
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AmperageTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of An current a component is drawing
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='AmperageTimeSeries' type='AmperageTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of An current a component is drawing
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='GlobalPositionTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of DEPRECATED: The three space position of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='GlobalPositionTimeSeries' type='GlobalPositionTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of DEPRECATED: The three space position of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PositionTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The position of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='PositionTimeSeries' type='PositionTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The position of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='VelocityTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The velocity of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='VelocityTimeSeries' type='VelocityTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The velocity of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AccelerationTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The acceleration of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='AccelerationTimeSeries' type='AccelerationTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The acceleration of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AngularAccelerationTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The angular acceleration of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='AngularAccelerationTimeSeries' type='AngularAccelerationTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The angular acceleration of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AngularVelocityTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The angular velocity of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='AngularVelocityTimeSeries' type='AngularVelocityTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The angular velocity of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PathFeedrateTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The feedrate of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='PathFeedrateTimeSeries' type='PathFeedrateTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The feedrate of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AxisFeedrateTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The feedrate of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='AxisFeedrateTimeSeries' type='AxisFeedrateTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The feedrate of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='SpindleSpeedTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The spindle speed of the component: DEPRECATED
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='SpindleSpeedTimeSeries' type='SpindleSpeedTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The spindle speed of the component: DEPRECATED
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='RotaryVelocityTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The rotational velocity of the component in RPM
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='RotaryVelocityTimeSeries' type='RotaryVelocityTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The rotational velocity of the component in RPM
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AngleTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The angle of the component
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='AngleTimeSeries' type='AngleTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The angle of the component
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='TemperatureTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The temperature
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='TemperatureTimeSeries' type='TemperatureTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The temperature
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='LoadTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The program code
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='LoadTimeSeries' type='LoadTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The program code
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='FrequencyTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The frequency in hertz
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='FrequencyTimeSeries' type='FrequencyTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The frequency in hertz
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='VoltsTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of DEPRECATED: The voltage
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='VoltsTimeSeries' type='VoltsTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of DEPRECATED: The voltage
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='VoltageTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The voltage
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='VoltageTimeSeries' type='VoltageTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The voltage
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='WattTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of DEPRECATED: The number of Watts
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='WattTimeSeries' type='WattTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of DEPRECATED: The number of Watts
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PressureTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The pressure
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='PressureTimeSeries' type='PressureTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The pressure
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='TorqueTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The torque
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='TorqueTimeSeries' type='TorqueTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The torque
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PathPositionTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The 3 dimensional position for tool tip in the path (X Y
        Z)
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='PathPositionTimeSeries' type='PathPositionTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The 3 dimensional position for tool tip in the path (X Y
        Z)
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='WattageTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The number of Watts
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='WattageTimeSeries' type='WattageTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The number of Watts
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='DisplacementTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The linear displacement in millimeters
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='DisplacementTimeSeries' type='DisplacementTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The linear displacement in millimeters
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='TiltTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The tilt
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='TiltTimeSeries' type='TiltTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The tilt
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AccumulatedTimeTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The non-contiguous duration of an Job in seconds
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='AccumulatedTimeTimeSeries' type='AccumulatedTimeTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The non-contiguous duration of an Job in seconds
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PowerFactorTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The power factor
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='PowerFactorTimeSeries' type='PowerFactorTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The power factor
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='StrainTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The strain
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='StrainTimeSeries' type='StrainTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The strain
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='FlowTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The flow
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='FlowTimeSeries' type='FlowTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The flow
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='SoundPressureTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The sound pressure
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='SoundPressureTimeSeries' type='SoundPressureTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The sound pressure
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ResistanceTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The Resistance
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='ResistanceTimeSeries' type='ResistanceTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The Resistance
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ConductivityTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The Conductivity
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='ConductivityTimeSeries' type='ConductivityTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The Conductivity
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ViscosityTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The Viscosity
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='ViscosityTimeSeries' type='ViscosityTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The Viscosity
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ConcentrationTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The Concentration
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='ConcentrationTimeSeries' type='ConcentrationTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The Concentration
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ElectricalEnergyTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of Electrical energy
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='ElectricalEnergyTimeSeries' type='ElectricalEnergyTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of Electrical energy
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='FillLevelTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The fill level of a tank
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='FillLevelTimeSeries' type='FillLevelTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The fill level of a tank
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='LinearForceTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The magnitude of a push or pull introduced by an actuator
        or exerted on an object
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='LinearForceTimeSeries' type='LinearForceTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The magnitude of a push or pull introduced by an actuator
        or exerted on an object
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='AbsTimeSeriesTimeSeriesType'>
    <xs:annotation>
      <xs:documentation>
        Time series of The abstract waveform
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='TimeSeriesType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='AbsTimeSeriesTimeSeries' type='AbsTimeSeriesTimeSeriesType' substitutionGroup='TimeSeries'>
    <xs:annotation>
      <xs:documentation>
        Time series of The abstract waveform
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name='PartCountValueType'>
    <xs:annotation>
      <xs:documentation>
        The number of parts
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[+-]?\d+|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='BlockValueType'>
    <xs:annotation>
      <xs:documentation>
        Code block value
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='CodeValueType'>
    <xs:annotation>
      <xs:documentation>
        Value of the program code
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='ProgramValueType'>
    <xs:annotation>
      <xs:documentation>
        The program name
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='ToolJobValueType'>
    <xs:annotation>
      <xs:documentation>
        A tool Job
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='LineValueType'>
    <xs:annotation>
      <xs:documentation>
        The line number
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[A-Za-z0-9]+|UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ToolIdValueType'>
    <xs:annotation>
      <xs:documentation>
        The tool identifier
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='PartIdValueType'>
    <xs:annotation>
      <xs:documentation>
        The part identifier
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='WorkholdingIdValueType'>
    <xs:annotation>
      <xs:documentation>
        The workholding identifier
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='MessageValueType'>
    <xs:annotation>
      <xs:documentation>
        A message
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='AxesListValueType'>
    <xs:annotation>
      <xs:documentation>
        A space delimited list of values
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='UNAVAILABLE|[a-zA-Z][0-9]*( [a-zA-Z][0-9]*)*'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DirectionValueType'>
    <xs:annotation>
      <xs:documentation>
        Rotation Direction
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='CLOCKWISE'/>
      <xs:enumeration value='COUNTER_CLOCKWISE'/>
      <xs:enumeration value='POSITIVE'/>
      <xs:enumeration value='NEGATIVE'/>
      <xs:enumeration value='UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='PowerStateValueType'>
    <xs:annotation>
      <xs:documentation>
        A power status
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ON'/>
      <xs:enumeration value='OFF'/>
      <xs:enumeration value='UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ExecutionValueType'>
    <xs:annotation>
      <xs:documentation>
        The execution value
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='READY'/>
      <xs:enumeration value='INTERRUPTED'/>
      <xs:enumeration value='ACTIVE'/>
      <xs:enumeration value='STOPPED'/>
      <xs:enumeration value='FEED_HOLD'/>
      <xs:enumeration value='UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ControllerModeValueType'>
    <xs:annotation>
      <xs:documentation>
        The cnc mode value
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='AUTOMATIC'/>
      <xs:enumeration value='MANUAL'/>
      <xs:enumeration value='MANUAL_DATA_INPUT'/>
      <xs:enumeration value='SEMI_AUTOMATIC'/>
      <xs:enumeration value='UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DoorStateValueType'>
    <xs:annotation>
      <xs:documentation>
        The status of a door
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='OPEN'/>
      <xs:enumeration value='CLOSED'/>
      <xs:enumeration value='UNLATCHED'/>
      <xs:enumeration value='UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='RotaryModeValueType'>
    <xs:annotation>
      <xs:documentation>
        The rotary functions
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='SPINDLE'/>
      <xs:enumeration value='INDEX'/>
      <xs:enumeration value='CONTOUR'/>
      <xs:enumeration value='UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='EmergencyStopValueType'>
    <xs:annotation>
      <xs:documentation>
        ESTOP values
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='TRIGGERED'/>
      <xs:enumeration value='ARMED'/>
      <xs:enumeration value='UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AxesCouplingValueType'>
    <xs:annotation>
      <xs:documentation>
        The method for axes coupling
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='TANDEM'/>
      <xs:enumeration value='SYCHRONOUS'/>
      <xs:enumeration value='MASTER'/>
      <xs:enumeration value='SLAVE'/>
      <xs:enumeration value='UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AvailabilityValueType'>
    <xs:annotation>
      <xs:documentation>
        Possible values for availability opeartion
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='AVAILABLE'/>
      <xs:enumeration value='UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ActuatorStateValueType'>
    <xs:annotation>
      <xs:documentation>
        The possible values for actuator state.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ACTIVE'/>
      <xs:enumeration value='INACTIVE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='PathModeValueType'>
    <xs:annotation>
      <xs:documentation>
        The values for path mode
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='SYNCHRONOUS'/>
      <xs:enumeration value='MIRROR'/>
      <xs:enumeration value='INDEPENDENT'/>
    </xs:restriction>
  </xs:simpleType>
  <!-- Changes here: type: omition -->
  <!-- Changes here: type: addition -->
  <xs:complexType name='CollaborationType'>
    <xs:annotation>
      <xs:documentation>
        A Collaboration Job
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='JobType'/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='Collaboration' type='CollaborationType' substitutionGroup='Job'>
    <xs:annotation>
      <xs:documentation>
        A Collaboration Job
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PrintingType'>
    <xs:annotation>
      <xs:documentation>
        A 3D printing Job
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='JobType'/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='Printing' type='PrintingType' substitutionGroup='Job'>
    <xs:annotation>
      <xs:documentation>
        A 3D printing Job
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='DrillingType'>
    <xs:annotation>
      <xs:documentation>
        A Drilling Job
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='JobType'/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='Drilling' type='DrillingType' substitutionGroup='Job'>
    <xs:annotation>
      <xs:documentation>
        A Drilling Job
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='RoutingType'>
    <xs:annotation>
      <xs:documentation>
        A Routing Job
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='JobType'/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='Routing' type='RoutingType' substitutionGroup='Job'>
    <xs:annotation>
      <xs:documentation>
        A Routing Job
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='MovingType'>
    <xs:annotation>
      <xs:documentation>
        A Moving Job
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='JobType'/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='Moving' type='MovingType' substitutionGroup='Job'>
    <xs:annotation>
      <xs:documentation>
        A Moving Job
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--xs:complexType name='StopType'>
    <xs:annotation>
      <xs:documentation>
        Stoping a Job
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='JobType'/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='Stop' type='StopType' substitutionGroup='Job'>
    <xs:annotation>
      <xs:documentation>
        Stoping a Job
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='PauseType'>
    <xs:annotation>
      <xs:documentation>
        Pausing a Job
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='JobType'/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='Pause' type='PauseType' substitutionGroup='Job'>
    <xs:annotation>
      <xs:documentation>
        Pausing a Job
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ResumeType'>
    <xs:annotation>
      <xs:documentation>
        Resume a paused Job
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='JobType'/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='Resume' type='ResumeType' substitutionGroup='Job'>
    <xs:annotation>
      <xs:documentation>
        Resume a paused Job
      </xs:documentation>
    </xs:annotation>
  </xs:element-->
  <!-- Changes for ParameterType-->
  <xs:complexType name='MaterialType'>
    <xs:annotation>
      <xs:documentation>
        Type of material used for the job
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ParameterType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Material' type='MaterialType' substitutionGroup='Parameter'>
    <xs:annotation>
      <xs:documentation>
        Type of material used for the job
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ColorType'>
    <xs:annotation>
      <xs:documentation>
        Color of material used for the job
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ParameterType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Color' type='ColorType' substitutionGroup='Parameter'>
    <xs:annotation>
      <xs:documentation>
        Color of material used for the job
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='QuantityType'>
    <xs:annotation>
      <xs:documentation>
        Number of job
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ParameterType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Quantity' type='QuantityType' substitutionGroup='Parameter'>
    <xs:annotation>
      <xs:documentation>
        Number of job
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ToolType'>
    <xs:annotation>
      <xs:documentation>
        Type of tool to be used
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ParameterType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Tool' type='ToolType' substitutionGroup='Parameter'>
    <xs:annotation>
      <xs:documentation>
        Type of tool to be used
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ObjectType'>
    <xs:annotation>
      <xs:documentation>
        Name of the file used for the job
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base='ParameterType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Object' type='ObjectType' substitutionGroup='Parameter'>
    <xs:annotation>
      <xs:documentation>
        Name of the file used for the job
      </xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>